@model Prog5_3C2025.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PRD_ID" />
            <div class="form-group">
                <label asp-for="PRD_NOMBRE" class="control-label"></label>
                <input asp-for="PRD_NOMBRE" class="form-control" />
                <span asp-validation-for="PRD_NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRD_IMG" class="control-label"></label>
                <input asp-for="PRD_IMG" class="form-control" />
                <span asp-validation-for="PRD_IMG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRD_DESCRIPCION" class="control-label"></label>
                <input asp-for="PRD_DESCRIPCION" class="form-control" />
                <span asp-validation-for="PRD_DESCRIPCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRD_CANTIDAD" class="control-label"></label>
                <input asp-for="PRD_CANTIDAD" class="form-control" />
                <span asp-validation-for="PRD_CANTIDAD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRD_PRECIO" class="control-label"></label>
                <input asp-for="PRD_PRECIO" class="form-control" />
                <span asp-validation-for="PRD_PRECIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
